@import url('https://fonts.googleapis.com/css2?family=New+Tegomin&display=swap');

:root{
    --font1 : 'New Tegomin', serif;
}

*{
    padding: 0;
    margin: 0;
}

.body{
    background: url("../img/snake.jpg"); 
    min-height: 100vh;
    background-size: 100vw 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#scoreBox{
    position: absolute;
    top: 40vh;
    right: 20vh;
    font-size: 39px;
    font-weight: bold;
    font-family: var(--font1);
}

#hiscoreBox{
    position: absolute;
    top: 50vh;
    right: 20vh;
    font-size: 39px;
    font-weight: bold;
    font-family: var(--font1);
}

#board{
    background: linear-gradient(rgb(170, 236, 170), rgb(236, 236, 167));
    width: 88vmin;
    height: 92vmin;
    border: 2px solid black;
    display: grid;
    margin-left: 80px;
    /* setting rows and columns of grid using grid-template-row/column */
    grid-template-rows: repeat(18, 1fr); 
    grid-template-columns: repeat(18, 1fr);
}

.head{
    background: linear-gradient(rgb(240, 124, 124), rgb(228, 228, 129));
    border: 2px solid rgb(34, 4, 34); 
    transform: scale(1.02);
    border-radius: 9px;
}

.snake{
    background-color: purple;
    border: .25vmin solid white;
    border-radius: 12px;
}

.food{
    background: linear-gradient(red, purple);
    /* border: .25vmin solid black; */
    width: 0;
    height: 0;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-bottom: 40px solid red;

    /* border-radius: 20px; */
}